body {
  font-family: 'Roboto', sans-serif;
  color: #545E6C;
  background: #f5f5f5;
  font-size: 14px;
  padding: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }


a {
  text-decoration: none; }

.nav li {
  list-style: none;
  display: inline-block;
  border-right: 1px solid #ccc;
  padding-right: 10px;
  margin-right: 10px; 
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .page {
    width: 90%;
    max-width: 800px;
    background: yellow;
    margin: 0 auto; } }

.main-wrapper .Position	{
	color: #3F4650;
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 500;
}

.main-wrapper .company	{
	margin-bottom: 10px:
	color: #97AAC3;
}